<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    </head>

    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the most awesome website on the net</h1>
        <p>You won't find a website better anywhere else!</p>
    </body>

</html>
